<!DOCTYPE html>
<html>
  <head>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>

      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

      <script type="text/javascript" src="/login.js"></script>

      <link rel="stylesheet" href="/main.css">

      <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Archivo+Black|Pacifico|Poiret+One" rel="stylesheet">


      <title>Register</title>
    </head>
  </head>
  <body>

     <div class="row">
       <div class="col s10 m8 l6 offset-s1 offset-m2 offset-l3 card ">
         <form class="col s12" action="/local/register" method="post">
           <h3 class="center-align yellow-text pacifico">Aviato</h3>
           <h3 class="center-align amatic-sc sapcing-bottom-m">Local Register</h3>
           <div class="row">
             <div class="input-field col s6">
               <input id="name" type="text" name="name">
               <label for="name">Name</label>
             </div>
             <div class="input-field col s6">
               <input id="username" type="text" name="username">
               <label for="username">Username</label>
             </div>
           </div>
           <div class="row">
             <div class="input-field col s6">
               <input id="email" type="email" name="email">
               <label for="email">Email</label>
             </div>
             <div class="input-field col s6">
               <input id="password" type="password" name="password">
               <label for="password">Password</label>
             </div>
           </div>
           <div class="row">
             <div class="input-field col s6">
               <input id="city" type="text" name="city">
               <label for="city">City</label>
             </div>
             <div class="input-field col s6">
               <input id="state" type="text" name="state">
               <label for="state">State</label>
             </div>
           </div>
           <div class="row">
             <div class="col s12 m6 l6 offset-m3 offset-l3">
               <input type="submit" value="Register" class="btn right yellow  black-text centerbtn center-align">
             </div>
           </div>
         </form>
         </div>
       </div>



  </body>
</html>
